retrosheet_data/retrosheet_files/*.EVA
retrosheet_data/retrosheet_files/*.EVN
retrosheet_data/retrosheet_files/*.ROS
retrosheet_data/retrosheet_files/TEAM2*


retrosheet_data/csv_files
retrosheet_data/csv_files_game_info
retrosheet_data/2005-2016*

.ipynb_checkpoints
__pycache__
Strategies/probably_garbage/New_Strategy1-Copy1.ipynb
Strategies/Old_strategies_deprecated/Strategy_1-Copy1.ipynb
Strategies/probably_garbage/New_Strategy1.ipynb
Strategies/probably_garbage/New_Strategy_1-5.ipynb
retrosheet_data/2005-2016_game_logs.csv
retrosheet_data/2005-2016_game_logs.csv

Strategies/1_day_contest/*